body {
  font-family:  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  line-height: 30px;
  color: #838C95;
  margin: 0;
}
ul {
  list-style: none;
  display: block;
}
li {
  line-height: 18px;
}
.header {
  position: relative;
  min-height: 400px;
  width: 100%;
  background: #161415 url(../img/headerbg.jpg) no-repeat top center;
  background-size: cover ;
  text-align: center;
  overflow: hidden;
  display: block;
  font-size: 100%;
}
#topbar-wrap{
  font: 22px 'opensans-bold', sans-serif;
  display: block;
  width: 100%;
  text-transform: uppercase;
  margin: 0 auto;
  background: transparent;
  letter-spacing: 4.5px;
}
ul#topbar{
  min-height: 48px;
  width: auto;
  text-align: center;
}

ul#topbar li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}
ul#topbar li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
}
ul#topbar li.active a {
  color: #F06000;
}

.banner {
  display: inline-block;
  margin-top: 70px;
}  
.banner-text {
  background: transparent;
  width: 100%;
  text-align: center;
}
.banner-text h3 {
  font-size:17px;
  width: 80%;
  color: #A8A8A8;
  margin: 0 auto;
}
.myname {
  font-size: 65.7px;
  font-family: "Nothing You Could Do", cursive;
  color: #fff;
}

#about {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 72px;
  overflow: hidden;
  display: block;
}
.profile-pic{
  height: 140px;
  width: 140px;
  border-radius: 75px; 
  margin:auto;
  background-image: url(../img/profile-pic.jpg); 
  background-size: cover; 
  background-position: center center; 
  box-shadow: black 1px 1px 10px;
}
#about h2{
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #000;
  margin-bottom: 12px;
  text-align: center;
}
